* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, 'Segoe UI', Georgia, 'Times New Roman', Times, serif, sans-serif;
}

header {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: fixed;
    background-color: #ffffff;
    align-content: center;
    z-index: 999;
    transition: background-color 0.3s ease;
}

.container-left h1 {
    font-weight: 200;
}

#navbar-menu a {
    color: #000000;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#navbar-menu a:hover {
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

header.scrolled {
    background-color: #afafaf;
}

#navbar-menu a.active {
    background-color: #999999;
    color: #fff;
}

footer {
    position: relative;
    top: 70px;
}

.upper-section {
    padding: 15px 75px;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.upper-section h4 {
    padding-bottom: 15px;
}

.upper-section li {
    list-style-type: none;
}

.upper-section a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.upper-section a:hover {
    text-decoration: underline;
    color: #0000ff;
    font-size: 14px;
}


.section-1 {
    width: 30%;
}

.section-2,
.section-3 {
    width: 35%;
}

.section-2 p,
.section-3 p {
    font-weight: 700;
    padding-top: 20px;
}

.section-2 nav ul,
.section-3 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.section-2 nav ul li,
.section-3 nav ul li {
    margin-right: 10px;
}

.section-2 nav ul li:last-child,
.section-3 nav ul li:last-child {
    margin-right: 0;
}

.section-2 nav ul li img,
.section-3 nav ul li img {
    width: 40px;
    height: auto;
}

.lower-section {
    font-size: 12px;
    padding: 15px 50px;
}

/********************************************************************* ABOUT ME CSS *********************************************************************/
main {
    position: relative;
    top: 70px;
    background-color: #f7f7f7;
    padding: 50px;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.profile-pic {
    text-align: center;
}

.profile-pic img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.summary {
    text-align: center;
    margin-top: 20px;
}

#contact {
    text-align: center;
    margin-top: 50px;
}

#contact p {
    margin-bottom: 20px;
}

#contact button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact button:hover {
    background-color: #555;
}